.header {
    background-color: #ffab00;
    display: flex;
    height: 80px;
    width: 100vw;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        max-width: 80vw;
        min-width: 60vw;


        &__brand {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &__logo {
                margin-right: 4px;
            }

            &__name {
                color: #fff;
                font-family: 'RobotoBold', 'Helvetica', sans-serif;
                font-size: 38px;
            }
        }

        &__search {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            background-color: #bf8000;
            border-radius: 8px;
            padding: 8px;
            height: 36px;

            &__box {
                color: white;
                background-color: #bf8000;
                border: none;
            }

            &__button {
                color: white;
            }
        }
    }
}
